*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}

.banner-container{
    max-width: 1720px;
    height: 700px;
    background: rgba(229, 84, 115, 0.1);
    margin-bottom: 270px;
  
}
.banner-content{
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: flex;

}
.banner-text{
    width: 45%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.banner-text h1{
color: rgb(39, 39, 39);
font-family: Lato;
font-size: 80px;
font-weight: 800;
letter-spacing: 0%;
text-align: left;
margin-bottom: 15px;
}
.banner-text p{
color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 22px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 18px;
}
.banner-text a{
    margin-right: 580px;
    background: rgb(229, 84, 115);
    padding: 15px 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;

}
.banner-img{
    width:54% ;
    height: 100%;
    text-align: center;
    margin-top: 73px;
}
.banner-img img{
    width: 66%;
    height: 100%;
}
/* banner section end */
/* mid section start */
.middile-tex{
    text-align: center;
    margin-bottom: 100px;
}

.middle-tex-hed h1{
color: rgb(39, 39, 39);
font-size: 50px;
font-weight: 800;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 15px;
}
.middle-tex-hed p{
    color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 20px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
}
/* card section start */
.card-container{
    width: 1720px;
    height: 590px;
    margin-bottom: 200px;
}
.card-content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.flower-card{
    width: 460px;
    height: 520px;
    text-align: center;
   
}
.flower-card p{
color: rgb(39, 39, 39);
font-size: 24px;
font-weight: 700;
line-height: 35px;
letter-spacing: 0%;
text-align: center;
text-decoration-line: underline;
padding-top: 20px;
}
.flower-card img{
    width: 100%;
    height: 100%;
    border-radius: 50% 50% 0 0;
}
/* card section end */
/* banner-2 start */
.castomar-container{
    width: 1640px;
    height: 400px;
    margin-bottom: 200px;
}
.castomar-content{
    width: 1440px;
    height: 320px;
    background-color: rgba(39, 39, 39, 0.05);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
/* banner-2 end */
/* hot deal start */
.hot-deal-container{
    max-width: 1740px;
    height: 720px;
    margin-bottom: 240px;
    background: rgba(229, 84, 115, 0.13);

}
.hot-deal-content{
    width: 90%;
    height: 80%;
    margin: 0 auto;
    display: flex;
}
.hot-deal-text{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hot-deal-text h1{
font-size: 50px;
font-weight: 800;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 30px;
}
.hot-deal-text p{
 color: rgba(39, 39, 39, 0.6);
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
}
.hot-deal-img{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* hot deal end */
/* card-2 start */
.card-2-container{
    width: 1640px;
    height: 500px;
    margin-bottom: 200px;
}
.card-2-content{
    width: 1440px;
    height: 420px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
}
.card-2-content .flower-card-2{
    width: 342px;
    height: 396px;

}
.card-2-content .flower-card-2 img{
    width: 1005;
    height: 100%;

}
/* card-2 end */
